.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(70, 146, 146);
    border-radius: 5px;
}
h1{
    font-size: 36px;
    margin-bottom: 20px;
}
h3 {
    margin-bottom: 10px;
}

header  {
    background-color: rgb(129, 225, 238);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 20px;
    border-radius: 10px;
}
header.scrolled {
    background-color: rgb(200, 255, 0);
  }
 
 
 
 
header nav ul li:hover {
    cursor:crosshair;
    background-color: rgb(236, 241, 237);
}
header  nav ul {
    border-top: 0px;
   display: flex;
   list-style: none;
   padding: 0;
   margin: 40px;
  
}
header nav ul li {
    
    margin-left: 20px;
    font-style: oblique;
    font-weight: bold;
    

}

header nav ul li a{
    text-decoration: none;
    color: rgb(56, 28, 212);
    margin-top: 0px;
}
.section-heading {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 5px solid orange;
    font-weight: bold;
    color:rgb(7, 9, 128);
}
.work-experience, .personal-projects, .education, .skills {
    margin-bottom: 20px;
}
.work-experience > h3, .personal-projects > h3, .education > h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.work-experience p, .personal-projects p, .education p {
    font-size: 16px;
    margin-bottom: 10px;
}
 .work-experience ul, .personal-projects ul {
    list-style: disc;
    margin-left: 20px;
 }


/* Media Query for 720px viewport */
@media screen and (max-width: 720px) {
    header {
        flex-direction: column;
        margin-bottom: 20px;
    }
    header nav ul {
        margin-left: -10px;
    }
    .header-info{
        text-align: centre;
    }
    header nav ul li {
        font-size: 14px;
    }
}

/* Media Query for 360px viewport */
@media screen and (max-width: 360px) {
    .header-info{
        flex-direction: column;
        justify-content: center;
    }
    header nav ul li {
        font-size: 10px;
    }
}

