.container{
    max-width:max-content;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(179, 189, 197);
}
h1{
    font-size: 36px;
    margin-bottom: 20px;
}
h3 {
    margin-bottom: 10px;
}

header  {
    background-color: rgb(109, 163, 163);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
header nav ul li:hover {
    cursor:crosshair;
    background-color: rgb(21, 202, 60);
}
header  nav ul {
    border-top: 0px;
   display: flex;
   list-style: none;
   padding: 0;
   margin: 0;
  
}
header nav ul li {
    margin-left: 20px;
    color: rgb(216, 145, 39);

}

header nav ul li a{
    text-decoration: none;
}
.section-heading {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 5px solid rgb(21, 202, 60);
    font-weight: bold;
    color:rgb(7, 87, 34);
}
.work-experience, .personal-projects, .education, .skills {
    margin-bottom: 20px;
}
.work-experience > h3, .personal-projects > h3, .education > h3, .skills > h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.work-experience p, .personal-projects p, .education p, .skills p {
    font-size: 16px;
    margin-bottom: 10px;
}
 .work-experience ul, .personal-projects ul {
    list-style: disc;
    margin-left: 20px;
 }
.work-experience{
    border-radius: 5px;
}

